<!DOCTYPE html>
<html>
<head>
	<title>SCHEDULE</title>
</head>
<body>
	
			<fieldset>
				<legend><h1>SCHEDULE</h1></legend>
				
			
			
		<a href ='/home/schedule/insertschedule'>Insert</a>				
	<a href ='/home'>Go To Home Page</a>	
	</fieldset>
</body>
</html>