<!DOCTYPE html>
<html>
<head>
	<title>CONTACT TUITION PROVIDER</title>
</head>
<body>
	
			<fieldset>
				<legend><h1>CONTACT</h1></legend>
				
			
			
				
	<a href ='/home'>Go To Home Page</a>	
	</fieldset>
</body>
</html>