<!DOCTYPE html>
<html>
<head>
	<title>OFFERED TUITION</title>
</head>
<body>
		<form>
			<fieldset>
				<legend><h1>OFFERED TUITION</h1></legend>
				
				
				<a href="/home">Back</a>
				
			</fieldset>
			
		</form>
</body>
</html>