<!DOCTYPE html>
<html>
<head>
	<title>CHECK NOTES</title>
	
</head>
<body>
<fieldset>
<h1>CHECK NOTES</h1>

		<a href="/home/uploadnotes">Upload Notes</a>
		<a href="/home">Go To Home Page</a><br/><br/>
	
		
			
		</fieldset>
</body>
</html>