<!DOCTYPE html>
<html>
<head>
	<title>CHECK COMPLAIN</title>
</head>
<body>
	
			<fieldset>
				<legend><h1>COMPLAIN</h1></legend>
				
			
			
		<a href ='/home/cta'>Go To Complain Page</a><br/><br/>				
	<a href ='/home'>Go To Home Page</a>	
	</fieldset>
</body>
</html>