<!DOCTYPE html>
<html>
<head>
	<title>SALARY</title>
</head>
<body>
	
			<fieldset>
				<legend><h1>SALARY</h1></legend>
				
			
			
		<a href ='/home/salary/insertsalary'>Insert</a>				
	<a href ='/home'>Go To Home Page</a>	
	</fieldset>
</body>
</html>