<!DOCTYPE html>
<html>
<head>
	<title>TEACHERS INFORMATION</title>
	
</head>
<body>
<fieldset>
<legend>
<h1>TEACHERS INFORMATION</h1></legend>

		
		<a href="/home">Back</a><br/><br/>
	
		
			
		</fieldset>
</body>
</html>