<!DOCTYPE html>
<html>
<head>
	<title>UPLOADED QUESTIONS</title>
	
</head>
<body>
<fieldset>

<h1>UPLOADED QUESTIONS</h1>

		
		<a href="/home/exam/take">Back</a>
		<a href="/home">Go To Home Page</a>
		<br/><br/>
	
		
			
		</fieldset>
</body>
</html>