<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">

</head>
<body>
	<fieldset>
<div class="header">
	<marquee bgcolor="#446"><h1><font color="white">WELCOME HOME <%= uname %></font></h1><br/></marquee>
	</div>
	
        <br/><div align="center"><a href="/home/profile">Profile</a></div><br/><br/>
        <div align="left"><a href="/home/availabletuition">Available Tuition</a></div>
		<div align="right"><a href="/home/offeredtuition">Offered Tuition</a></div><br/><br/>
		<div align="left"><a href="/home/upload">Upload Notes</a></div>
		<div align="center"><a href="/home/studentsinfo">Student's Information</a></div>
		<div align="right"><a href="/home/exam">Exam & Grades</a></div><br/><br/>
		<div align="left"><a href="/home/notices">Notices</a></div>
		<div align="center"><a href="/home/salary">Salary</a></div>
		<div align="right"><a href="/home/schedule">Class Schedule</a></div><br/><br/>
		<div align="left"><a href="/home/ctp">Contact Tuition Provider</a></div>
		<div align="center"><a href="/home/cta">Complain to Admin</a></div>
		<div align="right"><a href="/home/ratings">Ratings & Review</a></div><br/><br/>
		 <div align="left"><a href="/home/script">Answer Script</a></div>
		<div align="right"><a href="/home/teachersinfo">Teacher's Information</a></div><br/><br/>
		<div align="center"><a href="/logout">Logout</a></div><br/><br/>
 
		</fieldset>
		
		
</body>
</html>
