<!DOCTYPE html>
<html>
<head>
	<title>RATINGS & REVIEW</title>
</head>
<body>
	
			<fieldset>
				<legend><h1>RATINGS & REVIEW</h1></legend>
				
			
			
		
	<a href ='/home'>Go To Home Page</a>	
	</fieldset>
</body>
</html>