<!DOCTYPE html>
<html>
<head>
	<title>READ NOTICES</title>
	
</head>
<body>
<fieldset>

<h1>READ NOTICES</h1>

		
		<a href="/home/notices">Back</a>
		<a href="/home">Go To Home Page</a>
		<br/><br/>
	
		
			
		</fieldset>
</body>
</html>