<!DOCTYPE html>
<html>
<head>
	<title>FILEUPLOAD</title>
	

</head>
<body>
<fieldset>
	<h1>FILEUPLOAD</h1>	
	<form method="POST" action="/home/upload" enctype="multipart/form-data">
	<input type="file" name="file"/>
	<input type="submit" value="Upload"/>
	
	</fieldset>	
</body>
</html>
