<!DOCTYPE html>
<html>
<head>
	<title>ANSWER SCRIPT</title>
</head>
<body>
	
			<fieldset>
				<legend><h1>ANSWERS</h1></legend>
				
			
			
			
	<a href ='/home'>Go To Home Page</a>	
	</fieldset>
</body>
</html>