<!DOCTYPE html>
<html>
<head>
	<title>PROFILE</title>
</head>
<body>
		<form>
			<fieldset>
				<legend><h1>PROFILE</h1></legend>
				
					
				
				<a href="/home">Go To Home Page</a>
				
			</fieldset>
			
		</form>
</body>
</html>